# Dependencies
node_modules/
dist/
dist-ssr/
*.local

# Editor and System Files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tooling
.vite/
*.log
npm-debug.log*

# Temporary Files
tmp/
temp/
